/*-----------------------------
  [NAMANKAN]
  Project:Namankan
  Version:1.0
  Last change: 26/12/2023 10:35 PM [Home page mockup]
  Developed by: DevGG
  Developer: Gaurav Gupta
  Primary use: 
--------------------------------------------------*/
@use '../abstract/colors' as *; 
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $clr-white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $clr-primary; 
}


*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  background-color: $clr-white;
  font-family:$ff-poppins-regular;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: rem(16);

  // @include breakpoint-md{
  //   font-size: rem(20);
  // }
}

  div,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  
  ol,
  ul, li {
    list-style: none;
  }
  
a {
  text-decoration: none;
  color:$clr-white;
}

address{
  font-style:normal;
  font-size:100%;
  color:$clr-black-1;
}
small{
  font-size: rem(16);
  line-height: 1.75;
  display: flex;
  margin-top: rem(16);
}

p + p, h1 + p, h2 + p, h3 + p, h4 + p,  h5 + p, h6 + p{
    margin-top:0.5rem;
}

span + span{
  margin-top: 0.375rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
  // font-size: 100%;
  font-family: $ff-poppins-bold;
  color: $clr-primary;
}

button{
  border:none;
  outline:none;
  font-family:$ff-poppins-regular;
}

label{
  color:$clr-primary;
  font-size: rem(16);
  font-family: $ff-poppins-regular;
}

::placeholder{
  font-size: rem(16) !important;
  font-family:$ff-poppins-regular!important;
  color:$clr-white-90;
}
::selection{
  color:$clr-white;
  background-color: $clr-primary;
}
