@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.form-wrapper {
    background: rgba(0,0,0,.6);
    border:1px solid rgba(255,255,255,.6);
    color: #fff;
    padding: 2em 1em;
    @include border-radius(30px);
    @include breakpoint-xxl{
        padding: 2em;
    }
}
#form-signup{
    background:transparent;
    border:none;
    .form-control{
        outline:1px solid $clr-black;
        color:$clr-black;
        font-size: rem(18);
        &::placeholder{
            color:$clr-black;
            font-size: rem(18);
        }
        &:focus{
            outline:2px solid $clr-primary;
        }
    }
    h5{
        color:$clr-black;
        span{
            color:$clr-primary;
        }
    }
    label{
        color:$clr-black;
    }
    p{
        a{
            color:$clr-primary;
            &:hover{
                color:$clr-grey-dark;
            }
        }
    }
}

.form-control{
    background: hsla(0,0%,100%,.4);
    color: #fff;
    width: 100%;
    padding: em(12) em(16);
    @include border-radius(10px);
    outline:none;
    caret-color: $clr-secondary;
    font-size: rem(16);
    letter-spacing: 1px;
    font-family: $ff-poppins-regular !important;
    border:none;
    &:focus{
        outline:2px solid $clr-secondary;
    }
}

.search-form{
    .form-group{
        background: rgb(255, 255, 255) url("/asset/icons/search-icon.svg") 20px center no-repeat;
        height: 60px;
        @include border-radius(10px);
        display: flex;
        align-items: center;
        padding-right: em(16);
    }
    input{
        height: 100%;
        outline:none !important;
        padding:0px 0px 0px em(48);
        position: relative;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            // transform: scaleX(0);
            transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            border-bottom: 2px solid #3949ab;
            pointer-events: none;
        }
        &:focus{
            &::after{
                  transform: scaleX(1);
            }
        }
    }
}

.terms-policy{
    color:$clr-accent;
    &:hover{
        color:$clr-teriary;
    }
}
.form-password {
    display: flex;
    align-items: center;
    border:1px solid $clr-grey;
    @include border-radius(10px);
    input{
        border:none !important;
        outline:none !important;
    }
    .input-group-text{
        @include dimensions(rem(40), rem(45));
        @include flex-center;
        background: transparent;
        svg{
            @include dimensions(rem(20), rem(20));
        }
    
    }
}