@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{
    background-color: $clr-grey-light;
    &__top{
        background-color: $clr-grey-dark;
        border-top: 1px solid #101010;
        border-bottom: 1px solid #101010;
        // padding: 4em 0 2em;
    }
    &__bottom{
        background:$clr-secondary;
        padding-block: em(16);
    }
    &__link{
        font-size: rem(16);
        line-height: 2.5;
    }
    &__item{
        span{
            color:$clr-primary !important;
        }
    }
}

.footer-link{
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-link{
    &__item{
        font-size: 16px;
        @include breakpoint-lg{
            font-size: 18px;
        }
    }
}


.socials{
    &__list{
        @include flex-center-vertical;
        gap:em(32);
    }
}

.footer-socials-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
}