@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.footer{
    background-color: $clr-grey-light;
    &__top{
        background-color: $clr-grey-dark;
        border-top: 1px solid $clr-black-1;
        border-bottom: 1px solid $clr-black-1;
    }
    &__bottom{
        background:$clr-secondary;
        padding-block: em(16);
    }
    &__link{
        font-size: rem(16);
        line-height: 2.5;
    }
    &__item{
        span{
            color:$clr-primary !important;
        }
    }
}

.footer-link{
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    &__item{
        font-size: rem(16);
        &:hover{
            color:$clr-secondary;
            svg{
                path{
                    fill:$clr-secondary;
                }
            }
        }
    }
    &__address{
        @include breakpoint-lg{
         margin-top: -32px;
        }
        @include breakpoint-xl{
         margin-top: -16px;
        }
    }
}

.footer-address{
    .footer-link__item{
        @include flex-center-vertical;
        gap:rem(10);
    }
}

.socials{
    &__list{
        @include flex-center-vertical;
        gap:em(32);
    }
}

.footer-socials-link{
    @include flex-space-between;
    column-gap: rem(32);
    @include breakpoint-xl{
        column-gap: rem(38);
    }
}