@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.header{
    // position: fixed;
    // top:0;
    // width: 100%;
    // @include transition(all, 0.35s, ease-in-out);
    // z-index: 5;
    // &.sticky{
    //     top:-1px;
    //     background-color: $clr-primary;
    //     box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    //     padding-block:em(8);
    //     animation:move-down 0.45s ease-in;
    //     @include keyframes(move-down){
    //         0%{
    //             transform: translateY(-100%);
    //             opacity: 0;
    //         }
    //         100%{
    //             transform: translateY(0);
    //             opacity: 1;
    //         }

    //     }
    // }
    &__navbar{
        width: 100%;
        display: none;
        opacity: 0;
        visibility: hidden;
        gap:rem(32);
        @include breakpoint-lg{
            @include flex-center-vertical;
            justify-content: flex-end;
            gap:rem(38);
            opacity: 1;
            visibility: visible;
        }
        @include breakpoint-xl{
            gap:14rem;
        }
    }
    &__navLink{
        color:$clr-white;
        font-size: rem(18);
        &:hover{
            color:$clr-secondary;
        }
        &.active{
            color:$clr-secondary;
        }
    }
    &__mobile{
        position: fixed;
        top: 0;
        z-index: 10000;
        @include dimensions(75%, 100%);
        overflow-y: auto;
        padding-block:em(16);
        padding-bottom: em(80);
        background: $clr-grey-dark;
        color: $clr-white;
        opacity: 0;
        visibility: hidden;
        left: -100%;
        @include transition(left, 0.5s, ease-in-out);
        @include breakpoint-md{
            width: 50%;
        }
        @include breakpoint-lg{
            display: none;
        }
        &.open{
            // overflow: hidden;
            opacity: 1;
            visibility: visible;
            @include transition(left, 0.5s, ease-in-out);
            left: 0;
        }
        &-list{
            @include flex-cloumn;
            margin-top:rem(16);
        }
        &-item{
            padding-block: em(20) em(8);
            border-bottom: 1.2px solid $clr-white;
            @include transition(all, 0.35s, ease-out);
            &:hover{
                border-color: $clr-secondary;
                .header__mobile-link{
                    color: $clr-secondary
                }
            }
        }
        &-link{
            color: $clr-white;
            font-size: rem(18);
        }
    }
}

.overlay{
    position: fixed;
    inset: 0;
    @include dimensions(100%, 100vh);
    background: rgba(0,0,0,0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    @include breakpoint-lg{
        display: none;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
}



.hamburgur{
    .menu-line{
        @include dimensions(rem(24), rem(3));
        background: $clr-black;
        display: block;
        margin-bottom: rem(5);
        &:last-child{
            width: rem(16);
        } 
    }
    &--mobile{
        display: block;
        @include breakpoint-lg{
            display: none;
        }
    }
    &:hover{
        cursor: pointer;
    }
}


#filter-menu-btn{
    display: flex;
    align-items: center;
    gap:rem(16);
    @include breakpoint-lg{
        display: none;
    }
}
#filter-menu-container{
    display: none;
    @include breakpoint-lg{
        display: block;
    }
    .filter-menu{
        opacity: 0;
        visibility: hidden;
        transform:translateX(-100%);
        transition:transform 0.5s ease-out;
        @include breakpoint-lg{
            opacity: 1;
            visibility: visible;
            transform:translateX(0);
        }
    }
}
