@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;



.swiper{
  z-index: auto !important;
}
.swiper-pagination-bullet{
   padding: em(8) !important;
   position: relative;
}

.swiper-button-prev,
.swiper-button-next{
    width: 40px !important;
    height: 40px !important;
    border:1px solid rgba(0,0,0,0.8) !important;
    @include border-radius(50%);
    @include flex-center;
    @include transition(all, 0.35s , ease-out);
    &::after{
      font-size: 24px !important;
      color:$clr-grey-dark !important;
    }
    &:hover{
        border-color: $clr-white;
        background: $clr-primary !important;
        &::after{
          color:$clr-white !important;
        }
    }
}
.hero-swiper-slide{
  @media only screen and (min-width: 992px){
    height: 650px !important;
  }
}

