$clr-primary:#00a3f4;
$clr-secondary:#219C90;
$clr-teriary:#9eccf4;
$clr-accent:#5850EC;


$clr-black:#000;
$clr-black-1:#111315;
$clr-black-2:#1A1A1A;
$clr-black-3:#21251F;
$clr-black-4:#2e2e2e;

$clr-white:#fff;
$clr-white-90:#f4f4f4;
$clr-white-75:#fefefe;

$clr-grey-dark:#37475a;;
$clr-grey-light:#4e5763;

$clr-grey:#707070;
$clr-grey-light-1: #a1a1a1;
$clr-grey-light-2:#a2a2a2;
$clr-grey-light-3:#aeaeae;
$clr-grey-light-4:#bfbfbf;
$clr-grey-light-5:#c8c8c8;
