@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.contact-us{
    &__area{
        a{
            display: flex;
            align-items: center;
            gap:rem(10);
            color:$clr-black-1;
            span{
                display: flex;
                margin: 0;
            }
        }
    }
    &__formContainer{
        background: $clr-white-95;
        @include border-radius(10px);
        padding: em(24);
        .form-control{
            outline-color:$clr-grey-light-4;
        }
    }
}